.footer-link:hover {
  background: var(
    --Primary,
    linear-gradient(
      110deg,
      #feece3 0%,
      #fcd5bf 25%,
      #feafae 50%,
      #ffa4bd 75%,
      #ffa9cc 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
